<div class="row">
    <div id="reviews">
        <table>
            <tr id="table-header">
                <td class="table-category">Course Number</td>
                <td class="table-category">Course Name</td>
                <td class="table-category">Semester</td>
                <td class="table-category">Year</td>
                <td class="table-category">Professor</td>
                <td class="table-category">Review</td>
            </tr>
            {{#each reviews as |r|}}
            <tr>
                <td>{{r.courseNumber}}</td>
                <td>{{r.courseName}}</td>
                <td>{{r.semester}}</td>
                <td>{{r.year}}</td>
                <td>{{r.professor}}</td>
                <td>{{r.review}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>
